<div class="Authorization">
    <div class="Authorization__block">
        <h1 class="Authorization__h1">Регистрация</h1>
        <form class="Authorization__form" id="RegistrationForm"></form>

        <a href="../Authorization/Authorization.html" class="sign-link">
            Войти
        </a>
    </div>
</div>
