<div class="authorization" id="Registrations_wrapper">
    <div class="authorization-block">
        <h1 class="authorization-h1" id="Registration_header">Регистрация</h1>
        <a href="/signin" class="sign-link">
            <span>Войти</span>
        </a>
    </div>
</div>
