<div id="UserSettingsPasswordBack"></div>
<div class="UserSettings_container" id="UserSettingsPasswordContainer">
    <div class="UserSettings_content">
        <div class="UserSettings_header">
            <div class="UserSettings_avatar">
                <img src="/picture.svg" alt="Profile avatar" />
            </div>
        </div>

        <div class="UserSettings_details" id="UserSettingsPasswordDetails"></div>

        <div class="UserSettings__actions_edit" id="UserSettingsPasswordActions"></div>
    </div>
</div>
