
<div class="search-container">
    <div class="contact-avatar">
        <img src="/placeholder.svg?height=50&width=50" alt="Андрей">
    </div>
    <div class="search-bar" id="search_bar">
        <span class="search-icon">
            <img src="/search.svg" alt="search" />
        </span>
    </div>
</div>
<div id="contacts" class="contacts"></div>
