<div class="search-container" id="search_container">
    <div class="contact-avatar">
        <img src="/placeholder.svg?height=50&width=50" alt="Андрей">
    </div>
</div>
<div id="contacts" class="contacts"></div>
