@use "../../style";

* {
    margin: 0;
    padding: 0;
}

.authorization {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background-color);
}

.authorization-block {
    width: 100%;
    max-width: 448px;
    padding: 32px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}

.authorization-h1 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 32px;
    color: var(--dark-text-color);
}

@mixin authorization {
    display: flex;
    flex-direction: column;
}

.authorization-form {
    @include authorization;

    gap: 24px;
}

.authorization-group {
    @include authorization;

    gap: 4px;
}

.authorization-label {
    font-size: 14px;
    color: var(--text-secondary);
}

.authorization-input {
    width: 100%;
    padding-bottom: 4px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    outline: none;
    transition: border-color 0.2s ease;
    background-color: var(--background-color);
}

.authorization-input:focus {
    border-color: var(--input-focus);
}

.authorization-button {
    min-width: 100%;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    align-content: center;
}

.authorization-button:hover {
    background-color: var(--primary-hover);
}

.sign-link {
    display: block;
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
}

.sign-link:hover {
    text-decoration: underline;
}

input[type="password"] {
    font-family: Verdana, sans-serif;
    letter-spacing: 0.125em;
}

@media (width <= 640px) {
    .authorization-block {
        max-width: 90%;
        padding: 24px;
    }
}

.invalid {
    color: var(--danger-color);
    font-size: small;
    border-bottom: 1px solid var(--danger-color);
}
