@use "../../style";

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Main container
.chat-app {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100vh;
    width: 100%;
}

// Sidebar
.sidebar {
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 20px 20px 20px 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}


// Chat window
.chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 20px 20px 20px 10px;
}

@media (max-width: 900px) {
    .chat-app {
        flex-direction: column;
    }

    .sidebar {
        width: 90%;
        height: 30%;
        border-right: none;
        border-bottom: 1px solid var(--border-color);
    }

    .chat-window {
        height: 55%;
    }

    .message {

        &.incoming,
        &.outgoing {
            .message-content {
                max-width: 90%;
            }
        }
    }
}