<div class="chat-app" id="chat_app">
    <div id="sidebar" class="sidebar">
        <div class="search-container" id="search_container"></div>
        <div id="contacts_container"></div>
    </div>
    <div id="chatwindow" class="chat-window"></div>
</div>
