@use "../../style";
@use "../Auth/Auth.scss";
@use "../../layouts/SideBar/SIdeBar.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-app {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.sidebar {
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 20px 20px 20px 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 96vh;
    width: 20%;
}

.chat-window {
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 20px 20px 20px 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 96vh;
    width: 80%;
}

@media (width <= 950px) {
    .chat-app {
        flex-direction: column;
    }

    .sidebar {
        width: 90%;
        height: 30%;
        border-right: none;
        border-bottom: 1px solid var(--border-color);
    }

    .chat-window {
        height: 1%;
    }

    .message {
        &.incoming,
        &.outgoing {
            .message-content {
                max-width: 90%;
            }
        }
    }
}

.add-chat-btn {
    min-width: 80%;
    width: 90%;
    align-self: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    align-content: center;
}


.create-chat-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-self:center;
    z-index: 1001;
    background: var(--background-color);
    border: var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 25px;
    width: 300px;
}
