<div class="authorization" id="Authorization_wrapper">
    <div class="authorization-block">
        <h1 class="authorization-h1" id="Authorization_header">Вход</h1>
        <a href="../Registrations/Registrations.html" class="sign-link">
            <span>Нет аккаунта?</span>
        </a>
    </div>
</div>
