<div class="Authorization">
    <div class="Authorization__block">
        <h1 class="Authorization__h1">Вход</h1>
        <form class="Authorization__form" id="AuthorizationForm"></form>
        <a href="../Registrations/Registrations.html" class="sign-link">
            Нет аккаунта?
        </a>
    </div>
</div>
