<div class="authorization" id="Authorization_wrapper">
    <div class="authorization-block" id="Authorization_block">
        <h1 class="authorization-h1" id="Authorization_header">Вход</h1>
        <a href="/sign-up" class="sign-link">
            <span>Нет аккаунта?</span>
        </a>
    </div>
</div>
