<div>
    <div id="UserSettingsBack"></div>
    <div class="usersettings-container" id="UserSettingsContainer">
        <div class="usersettings-content" id="UserSettingsContent">
            <div class="usersettings-header" id="UserSettingsHeader"></div>
            
            <div class="usersettings-details" id="UserSettingsDetails"></div>
            
            <div class="usersettings-actions" id="UserSettingsActions"></div>
        </div>
    </div>
</div>
