<div id="UserSettingsBack"></div>
<div class="UserSettings_container" id="UserSettingsContainer">
    <div class="UserSettings_content">
        <div class="UserSettings_header">
            <div class="UserSettings_avatar">
                <img src="/picture.svg" alt="Profile avatar" />
            </div>
        </div>

        <div class="UserSettings_details" id="UserSettingsDetails"></div>

        <div class="UserSettings__actions_edit" id="UserSettingsActions"></div>
    </div>
</div>
