<div id="UserSettingsBack_show"></div>
<div class="UserSettings_container" id="UserSettingsContainer_show">
    <div class="UserSettings_content">
        <div class="UserSettings_header">
            <div class="UserSettings_avatar">
                <img src="/picture.svg" alt="Profile avatar" />
            </div>
            <h1 class="UserSettings_name">Иван</h1>
        </div>

        <div class="UserSettings_details" id="UserSettingsDetails_show"></div>

        <div class="UserSettings__actions" id="UserSettingsActions_show"></div>
    </div>
</div>
