<div id="UserSettingsBack_show"></div>
<div class="usersettings-container" id="UserSettingsContainer_show">
    <div class="usersettings-content">
        <div class="usersettings-header">
            <div class="usersettings-avatar">
                <img src="/picture.svg" alt="Profile avatar" />
            </div>
            <h1 class="usersettings-name">Иван</h1>
        </div>

        <div class="usersettings-details" id="UserSettingsDetails_show"></div>

        <div class="usersettings-actions" id="UserSettingsActions_show"></div>
    </div>
</div>
