<div>
    <div id="UserSettingsBack_show"></div>
    <div class="usersettings-container" id="UserSettingsContainer_show">
        <div class="usersettings-content">
            <div class="usersettings-header" id="UserSettingsHeader_show">
                <div id="UserSettingsHeader_avatar"></div>
                <label class="input-file" id="UserSettingsHeader_input">
                    <span class="input-file-btn">Выберите файл</span>
                </label>
            </div>

            <div class="usersettings-details" id="UserSettingsDetails_show"></div>

            <div class="usersettings-actions" id="UserSettingsActions_show"></div>
        </div>
    </div>
</div>
