<div id="chat_container">
    <div class="chat-header" id="chat_header">
        <div class="user-info">
            <img src="{{avatar}}" alt="{{title}}" class="user-avatar">
            <div class="user-details">
                <h2 class="user-name">{{title}}</h2>
            </div>
        </div>
        </div>
    </div>

    <div class="messages-container" id="messages_container" ></div>
    <div id="message_form_wrapper" class="message-form-wrapper" ></div>
</div>