<div class="chat-header">
    <div class="user-info">
        <img src="/placeholder.svg?height=40&width=40" alt="Вадим" class="user-avatar">
        <div class="user-details">
            <h2 class="user-name">Вадим</h2>
        </div>
    </div>
    <div class="chat-actions">
        <button class="more-button">
            <img src="/more.svg" alt="more_button" />
        </button>
    </div>
</div>

<div class="messages-container" id="messages_container" ></div>

<div class="message-input-container">
    <button class="attachment-button">
        <img src="/files.svg" alt="files button" />
    </button>
    <input type="text" placeholder="Сообщение" class="message-input" id="message" name="message">
    <button class="send-button">
        <img src="/send.svg" alt="send button" />
    </button>
</div>
