<div class="error-form">
    <h1 class="error-h1">500</h1>
    <h3 class="error-h3">Мы уже фиксим</h3>
    <nav>
        <a href=".../Chat/Chat.html" class="sign-link">
            Назад к чатам
        </a>
    </nav>
</div>
