<button class="attachment-button" type="button">
    <img src="/files.svg" alt="files button" />
</button>
<input type="text" placeholder="Сообщение" class="message-input" id="message" name="message">
<button class="send-button" type="submit">
    <img src="/send.svg" alt="send button" />
</button>
