<form class="usersettings-content" id="{{settings_type}}Form">
    <div class="usersettings-header">
        <div class="usersettings-avatar">
            <img src="/picture.svg" alt="Profile avatar" />
        </div>
    </div>

    <div class="usersettings-details" id="{{settings_type}}Details"></div>

    <div class="usersettings-actions-edit" id="{{settings_type}}Actions"></div>
</form>
