<form class="UserSettings_content" id="{{settings_type}}Form">
    <div class="UserSettings_header">
        <div class="UserSettings_avatar">
            <img src="/picture.svg" alt="Profile avatar" />
        </div>
    </div>

    <div class="UserSettings_details" id="{{settings_type}}Details"></div>

    <div class="UserSettings__actions_edit" id="{{settings_type}}Actions"></div>
</form>
